# Get your public token from Mapbox dashboard
# Then copy this file, name it as .env.local
MAPBOX_TOKEN='pk.eyJ1Ijoic2hhaHJ5YXJhbWQiLCJhIjoiY2w1MXRhaWNwMDh2YTNjbnV0dmppdmJ2aiJ9.gwq1LGPEizji4axNeSTItA'
